<p>
  We received a request to reset your Civet credentials.
  To do so, please follow the coded link below:
</p>

<p>
  <%= link_to reset_url(@user.code), reset_url(@user.code) %>
</p>

<p>
  If you received this email in error, simply do nothing.
  The above link will expire at <%= @user.expires_at.strftime("%-I:%M on %a, %-d %b %Y") %>
</p>

<p>Thanks!<br>Civet</p>
