<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand logo" href="/">Civet</a>
    </div>
    <div class="tagline pull-right">résumés made easy</div>
  </div>
</header>